extends layout

block content
  h1= title
  br
  -if(message)
    | #{message}
  br
  form(action='/login', method='POST')
    input(type='text', name='username', value='')
    br
    input(type='password', name='password', value='')
    br
    input(type='submit', value='Submit')
  br
  a(href='/signup') Signup
